*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: nike;
    src: url('../static/fonts/Tektur-Variable.ttf');
}
@font-face {
    font-family: "por3";
    src: url("../static/fonts/porsche-next-w-la-bold.min.6b20b9525a53943efc0131a2def13eab.ttf");
}
@font-face {
    font-family: "por1";
    src: url("../static/fonts/porsche-next-w-la-regular.min.b8f1c203bd2ac5334247025236ba8d86.ttf");
}
@font-face {
    font-family: "por2";
    src: url("../static/fonts/porsche-next-w-la-semi-bold.min.b5f6fca7225aa73578f65320bcf79b45\ \(1\).ttf");
}
@media (max-width:600px) {
  #page1 {
    width: 100vw;
    height: 100vh!important;
    /* background-color: red !important; */
  }

  .button-container {
    display: none!important;
  }

  #page1-left {
    display: none!important;
  }

  #page1-right {
    width: 100%!important;
    height: 100%!important;
  }

  .right-inner {
    width: 100%!important;
    height: 100vh!important;
    overflow-x: scroll!important;
    flex-wrap: nowrap!important;
    display: flex !important;
    overflow-y: hidden!important;
    margin-left: -2vh!important;
  }


  .child {

    width: 100vw!important;
    /* background-color: red!important; */
    /* overflow: hidden!important; */
    height: 70vh!important;
  }
  .child img{
    width: 108vw!important;
    height: 70vh!important;
  }

  #new {
    width: 105vw!important;
    overflow: hidden!important;
  }

  .child-box {
    margin-left: 2vh!important;


  }


  .rolling-text{
font-size: 2vh!important;
margin-top: -.1vh!important;
overflow: hidden!important;
  }
  .child-item-text{
    margin-top: 2vh!important;
  }
  #page2{
    background-color: red!important;
  }
  #animation #hero{
    background-color: red;
    position: relative!important;
  } 
 
  #navright{
    width: 3vh;
  }
  #navcenter{
    background-color: red!important;
    display: none!important;
  }
  
 #hero #selector{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute!important;
    top: 55%;
    left: 0%;
     cursor: pointer;
    gap: 3%;
    z-index: 999999999999999999999999999999999999999999999999999999999!important;
}
#selector #color{
    width: 40vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    pointer-events: all;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.714);
}
#selector #color button{
    border: none;
    cursor: pointer;
    border: 1px solid white;
    pointer-events: all;
    border-radius: 100%;
    width: 3.5vh;
    height: 3.5vh;
}
#selector #color button:nth-child(1){
    background-color:#CCCCCC;
}
#selector #color button:nth-child(2){
    background-color:#FFCC00;
}
#selector #color button:nth-child(3){
    background-color:#CC0033;
}
#selector #color button:nth-child(4){
    background-color:black;
}
#selector #color button:nth-child(5){
    background-color:#A4C4B8;
}
#selector #color button:nth-child(6){
    background-color:#00194B;
}
#selector #color button:nth-child(7){
    background-color:#333333;
}
#selector #color button:nth-child(8){
    background-color:red;
}
#selector .div{
    display: flex;
    align-items:center;
    height: 10vh;
    justify-content: center;
    width: fit-content;
    pointer-events: all;
    cursor: pointer;
    flex-direction: column;
  
}
#selector .div h2{
    color: white;
    font-size: 1.5vh!important;
    font-family: por1;
    text-transform: capitalize;
    cursor: pointer;
}
#selector .div img{
    width: 4vh!important;
    height: 4vh!important;;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}
#selector #centerdiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50%;
    gap: 3%;
 
}
#selector #centerdiv #infodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80%;
    gap: 3%;
    background: 
    linear-gradient(to bottom, transparent 0%, rgba(33, 33, 33, 0.292) 50%, transparent 100%), 
    linear-gradient(to right, transparent 0%, rgba(37, 37, 37, 0.096) 50%, transparent 100%);
 
}
  #infoone{
    /* display: none; */
    /* transform: translateX(0)!important; */
    width: 40vh !important; ;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.094);
    color: #fff;
    padding-left: 2%;
    padding-right:3%;
    padding-top: 25%!important;
    text-align: right;
    position: absolute;
    left: 0%!important;
    top: 0%!important;
  }
  #animation #infoone h1{
    font-size: 5vh;
    font-family: por3;
}
#animation #infoone img{
    width: 4vh!important;
    height: 4vh!important;
}
#animation #infoone #text2 #img{
  height: 15vh;
  overflow: hidden;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#animation #infoone #text2 img{
  height: 200%!important;
  width: 200%!important;
  object-position: center;
  object-fit: contain!important;
}
#animation #infotwo img{
    width: 4vh!important;
    height: 4vh!important;
}
#animation #infoone h2{
    font-size: 3vh!important;
    font-family: por3;
}
#animation #infoone h3{
    font-size: 1.6vh!important;
    color: rgb(170, 170, 170);
    white-space: nowrap;
    font-family: por1;
}
#animation #infoone h3 span{
    font-size: 1.6vh!important;
    margin-left: 2%;
    color: white;
}
  #infotwo{
    /* display: none; */
    width:40vh !important;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.229);
    color: #fff;
    /* transform: translateX(0%)!important; */
    padding-left: 2%;
    padding-right:3%;
    padding-top: 25%!important;
    position: absolute;
    right: 0!important;
    top: 0!important;
    padding-top: 5%;
  }
  #animation #infotwo h1{
    font-size: 5vh;
    font-family: por3;
}

#animation #infotwo h2{
    font-size: 3vh!important;
    font-family: por3;
}
#animation #infotwo h3{
    font-size: 1.6vh!important;
    color: rgb(170, 170, 170);
    white-space: nowrap;
    font-family: por1;
}
#animation #infotwo h3 span{
    font-size: 1.6vh!important;
    margin-left: 2%;
    color: white;
}
 
  #animation #infothree{
    width: 43vh !important; ;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.106);
    color: #fff;
    padding-left: 2%;
    padding-right:3%;
    position: absolute;
    left: 0!important;
    top: 0!important;
    padding-top: 25%!important;
    /* transform: translateX(-105%)!important; */
    padding-top: 5%;
}
#animation #infothree h1{
    font-size: 5.2vh;
    font-family: por3;
}

#animation #infothree #text1{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infothree #text{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infothree #image{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2%;
    gap: 3%;
}
#animation #infothree #image img{
    display: none !important;
    object-fit: cover;
    object-position: center;
}
#animation #infothree p{
    font-size: 2vh;
    font-family: por2;
}
#animation #infofour{
    width:40vh !important;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.259);
    color: #fff;
    padding-left: 2%;
    /* transform: translateX(0%)!important; */
    padding-right:3%;
    padding-top: 5%;
    position: absolute;
    right: 0!important;
    top: 0!important;
    padding-top: 25%!important;
}

#animation #infofour h1{
    font-size: 5.2vh;
    font-family: por3;
}

#animation #infofour #text1{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infofour #text{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infofour #image{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2%;
    gap: 3%;
}
#animation #infofour #image img{
    display: none !important;
    object-fit: cover;
    object-position: center;
}
#animation #infofour p{
    font-size: 2vh;
    font-family: por2;
}
#infofive{
  /* display: nfive; */
  /* transform: translateX(0)!important; */
  width: 40vh !important; ;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.094);
  color: #fff;
  padding-left: 2%;
  padding-right:3%;
  padding-top: 25%!important;
  text-align: right;
  position: absolute;
  left: 0%!important;
  top: 0%!important;
}
#animation #infofive h1{
  font-size: 5vh;
  font-family: por3;
}
#animation #infofive img{
  width: 4vh!important;
  height: 4vh!important;
}
#page2 .container{
  display: none!important;
}
#animation #infofive #text2 #img{
height: 15vh;
overflow: hidden;
height: 15vh;
display: flex;
align-items: center;
justify-content: center;
}
#animation #infofive #text2 img{
  height: 15vh!important;
  width: 25vh!important;
object-position: center;
object-fit: center!important;
}
#animation #infofive h2{
  font-size: 3vh!important;
  font-family: por3;
}
#animation #infofive h3{
  font-size: 1.6vh!important;
  color: rgb(170, 170, 170);
  white-space: wrap!important;
  font-family: por1;
}
#animation #infofive h3 span{
  font-size: 1.6vh!important;
  margin-left: 2%;
  color: white;
}
#hero #selector{
    width: 100%;
    height: 30vh!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.033);
    position: fixed;
    top: 70%!important;
    left: 0%;
     cursor: pointer;
    gap: 2%;
    z-index: 999999999999999999999999999999999999999999999999999999999!important;
}
#loading #elem{
    width: 35vw!important;
}
#loading #elem img{
    width: 13vh!important;
    height: 13vh!important;

}
#loading #elem:nth-child(2){
display: none!important;
}
#loading #elem:nth-child(5){
    display: none!important;
    }
}


#main{
    position: relative;
}
#loading{
    position: fixed !important;
    left: 0%!important;
    top: 0!important;
    background-color:transparent;
    width: 100vw;
    display: flex;
    height: 100vh;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999!important;
}
#loading #elem{
    width: 20vw;
    height: 100%;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#loading #elem:nth-child(1){
    color: white;
    font-family: nike;
    font-size: 10vh;
}
#loading #elem:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:#333; */
}
#loading #elem:nth-child(3) img{
    width: 25vh;
    height: 25vh;
    object-fit: cover;
    object-position: center;
}
#animation{
    width: 100%;
    height: 100vh;
    z-index: 999999999999999!important;
    position: relative;
    /* display: none; */
    
    /* background-color:black; */
}
#animation #hero {
    width: 100vw;
    height: 100vh;
    position: fixed ;
    display: flex;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    z-index: 9999999999999999999999999999999999!important;
    background-color: #2b2b2b27;
}
canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9!important;
}
#animation #infoone{
    width:60vh ;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.886);
    color: #fff;
    padding-left: 2%;
    
    padding-right:3%;
    padding-top: 5%;
    text-align: right;
    position: absolute;
    left: 0%!important;
    transform: translateX(-100%);
    top: 0%!important;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999!important;
}
#animation #infoone h1{
    font-size: 5vh;
    font-family: por3;
}
#animation #infoone #text1{
    padding: 2%;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infoone #text2{
    padding: 2%;
    display: flex;
    align-items: center;
    gap: 5% ;
    justify-content: center;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infoone #text2 #img{
  height: 15vh;
  overflow: hidden;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#animation #infoone #text2 img{
  width: 22vh;
  height: 22vh;
  object-position: center;
  object-fit: contain;
}
#animation #infoone h2{
    font-size: 4vh;
    font-family: por3;
}
#animation #infoone h3{
    font-size: 2.3vh;
    color: rgb(170, 170, 170);
    white-space: nowrap;
    font-family: por1;
}
#animation #infoone h3 span{
    font-size: 2.5vh;
    margin-left: 2%;
    color: white;
}
#logos{
    display: flex;
    gap: 4%;
    justify-content: flex-end;
    margin-top: 5%;
}
#logos #part{
    display: flex;
    align-items: baseline;
    color: white;
    gap: 1.2vh;
}
#logos #part img{
    height: 5vh;
    width: 5vh;
    object-fit: cover;
    object-position: center;
}
#logos #part h3{
    font-size: 1.5vh;
    color: white;
}


#animation #infotwo{
    width:60vh ;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.886);


    color: #fff;
    transform: translateX(100%);
    padding-left: 2%;
    padding-right:3%;
    position: absolute;
    right: 0!important;
    top: 0!important;
    padding-top: 5%;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999!important;

}
#animation #infotwo h1{
    font-size: 5vh;
    font-family: por3;
}
#animation #infotwo #text1{
    padding: 2%;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infotwo #text2{
    padding: 2%;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infotwo h2{
    font-size: 4vh;
    font-family: por3;
}
#animation #infotwo h3{
    font-size: 2.3vh;
    color: rgb(170, 170, 170);
    white-space: nowrap;
    font-family: por1;
}
#animation #infotwo h3 span{
    font-size: 2.5vh;
    margin-left: 2%;
    color: white;
}
#nav{
    width: 100%;
    height: 15vh;
    pointer-events: all;
    /* background-color:rgba(0, 0, 0, 0.875); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30vh;
    padding: 0 5vh;
    position:absolute;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999!important;
    top: 0;
    background: 
    linear-gradient(to bottom, transparent 0%, rgba(33, 33, 33, 0.18) 50%, transparent 100%), 
    linear-gradient(to right, transparent 0%, rgba(164, 163, 163, 0.04) 50%, transparent 100%);

}
#navcenter{
    width:55vh!important;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: center;
    overflow: hidden;
   

}
#navcenter img{
    /* scale: 0.2; */
    width: 6.5vh;
    transform: scaleY(1.2);
    object-fit: cover;
    transform: translateY(102%);

    object-position: center;
}
#navcenter h2{
    font-size: 6vh;
    font-weight: 700;
    color: white;
    font-family: por3;
    text-transform: uppercase;
}
#navleft{
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background: red; */
}
#navleft h2{
    color: white;
    font-family: por2;
}
#navright{
    width: 30vh;
    height: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

#hero #selector{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.033);
    position:absolute;
    top: 65%;
    left: 0%;
     cursor: pointer;
    gap: 3%;
    z-index: 999999999999999999999999999999999999999999999999999999999!important;
}
#selector #color{
    width: 50vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    pointer-events: all;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.714);
}
#selector #color button{
    border: none;
    cursor: pointer;
    border: 1px solid white;
    pointer-events: all;
    border-radius: 100%;
    width: 3.5vh;
    height: 3.5vh;
}
#selector #color button:nth-child(1){
    background-color:#CCCCCC;
}
#selector #color button:nth-child(2){
    background-color:#FFCC00;
}
#selector #color button:nth-child(3){
    background-color:#CC0033;
}
#selector #color button:nth-child(4){
    background-color:black;
}
#selector #color button:nth-child(5){
    background-color:#A4C4B8;
}
#selector #color button:nth-child(6){
    background-color:#00194B;
}
#selector #color button:nth-child(7){
    background-color:#333333;
}
#selector #color button:nth-child(8){
    background-color:red;
}
#selector .div{
    display: flex;
    align-items:center;
    height: 10vh;
    justify-content: center;
    width: fit-content;
    pointer-events: all;
    cursor: pointer;
    flex-direction: column;
  
}
#selector .div h2{
    color: white;
    font-size: 2vh;
    font-family: por1;
    text-transform: capitalize;
    cursor: pointer;
}
#selector .div img{
    width: 8vh;
    height: 8vh;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}
#selector #centerdiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50%;
    gap: 3%;
 
}
#selector #centerdiv #infodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80%;
    gap: 3%;
    background: 
    linear-gradient(to bottom, transparent 0%, rgba(33, 33, 33, 0.292) 50%, transparent 100%), 
    linear-gradient(to right, transparent 0%, rgba(37, 37, 37, 0.096) 50%, transparent 100%);
 
}
#animation #infothree{
    width:60vh ;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.886);
    color: #fff;
    padding-left: 2%;
    padding-right:3%;
    transform: translateX(-100%);
    padding-top: 5%;
}
#animation #infothree h1{
    font-size: 5.2vh;
    font-family: por3;
}

#animation #infothree #text1{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infothree #text{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infothree #image{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2%;
    gap: 3%;
}
#animation #infothree #image img{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    object-position: center;
}
#animation #infothree p{
    font-size: 2vh;
    font-family: por2;
}

#animation #infofour{
    width:60vh ;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.886);
    color: #fff;
    padding-left: 2%;
    transform: translateX(100%);
    padding-right:3%;
    padding-top: 5%;
}

#animation #infofour h1{
    font-size: 5.2vh;
    font-family: por3;
}

#animation #infofour #text1{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infofour #text{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infofour #image{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2%;
    gap: 3%;
}
#animation #infofour #image img{
    height: 18vh;
    width: 50vh;
    object-fit: cover;
    object-position: center;
}
#animation #infofour p{
    font-size: 2vh;
    font-family: por2;
}
#animation #infofive{
  width:60vh ;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.886);
  color: #fff;
  padding-left: 2%;
  
  padding-right:3%;
  padding-top: 5%;
  text-align: right;
  position: absolute;
  left: 0%!important;
  transform: translateX(-100%);
  top: 0%!important;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999!important;
}
#animation #infofive h1{
  font-size: 5vh;
  font-family: por3;
}
#animation #infofive #text1{
  padding: 2%;
  /* width: fit-content; */
  border-bottom: 2px solid #888888;
}
#animation #infofive #text2{
  padding: 2%;
  display: flex;
  align-items: center;
  gap: 5% ;
  justify-content: center;
  /* width: fit-content; */
  border-bottom: 2px solid #888888;
}

#animation #infofive #text2 img{
object-position: center;
object-fit: cover;
height: 20vh;

}
#animation #infofive h2{
  font-size: 4vh;
  font-family: por3;
}
#animation #infofive h3{
  font-size: 2.3vh;
  color: rgb(170, 170, 170);
  font-family: por1;
}
#animation #infofive h3 span{
  font-size: 2.5vh;
  margin-left: 2%;
  color: white;
}

.webgl
{
   width: 100%;
   height: 100vh;
   overflow: hidden;
}


#page1 {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-right {
  width: 50vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 5vh;
  font-size: 5vw;
  background-color: #000;
  overflow: hidden;

}

.right-inner {
  width: 50vw;
  height: 670vh;
  margin-left: 10vh;
  /* background-color: yellow; */
}

.child {

  width: 60%;
  height: 70vh;
  margin-bottom: 13vh;
}

#page1-left {
  width: 30vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 5vw;
}

.left-inner {
  width: 30vw;
  height: 230vh;
}

.left-child {
  width: 22%;
  height: 17vh;
  margin: 10vh 25vh;
  background-color: gray;
}

.left-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.left-border {
  position: absolute;
  top: 25%;
  left: 11%;
  width: 18vh;
  height: 20vh;
  margin: 3.5vh auto;
  border-radius: 2px;
  border: 1.5px solid rgba(255, 255, 255, 0.695);
}

#p {
  margin-top: 30vh;

}


.button-container {
  width: 25vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1vw;
  padding: 2vw;
}

.buttons {
  display: flex;
  gap: 1vw;
}

button {
  padding: 1vw;
  border: 1px solid rgb(214, 213, 213);
  font-size: 1vw;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

}

button>h3 {
  transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
  font-weight: 500;
}

button h4 {
  font-weight: 500;
}

button:hover h3 {
  transform: translateY(-180%);
}

button .cir {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  top: 100%;
  left: 0%;
  border-radius: 30%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  transition: cubic-bezier(0.19, 1, 0.22, 1) .6s;
}

button:hover .cir {
  top: 0%;
  border-radius: 0%;
}

.show button {
  border: 1.8px solid #000;
}

.available button {
  background-color: orange;
  border: 1px solid #000;
}

.available button:hover {
  border: 1px solid #fff;
}

.show button:hover {
  border: 1px solid #fff;
}

/* .item-img {
  object-fit: cover;
  object-position: center;
} */


.child-item-img img {
  width: 65vh;
  height: 70vh;
  border-radius: 20px;
  padding: 5vh;
  object-fit: cover;
}


.child-item-text {
  /* background-color: red; */
  font-size: 2vh;
  /* height: 10vh; */
  /* background-color: red; */
  margin-top: -7vh;

}


.item-copy-text {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 0 2vh;
}

.item-copy h2 {
  font-size: 2vh;
  font-family: "por1", gilroy;
  color: #f2f2f2cc;
  cursor: pointer;
}

h2.effect-shine {
  font-family: 'por1';
  font-size: 3vh;
  margin-left: 2.8vh;
  font-weight: 500;
}

h2.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #fff 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2.2s infinite;


}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.child-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-info-table {

  width: 85%;
  border-collapse: collapse;
  margin: 2vh 0;
  font-family: 'por1', gilroy;
  cursor: pointer;
  margin-left: 2vh;

}

.car-info-table th,
.car-info-table td {
  border: 1px solid #dddddd89;
  text-align: center;
  padding: 10px;
  margin-top: 1vh;
  font-size: 15px;
  /* Adjust this size if needed */
  transition: all ease 0.7s;
}

.car-info-table td:hover {
  background-color: #333;
}

.car-info-table th {
  background-color: #f2f2f273;
}

.rolling-text {
  height: 5vh;
  overflow: hidden;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
  font-family: 'por1';
  width: fit-content;
  color: #FFCC00;
  align-items: center;
}

.rolling-text h3 {
  margin-top: 0.5vh;
}

.rolling-text h4 {
  margin-top: 1vh;
}

.column .rolling-text {
  margin-bottom: 1vw;
}

.rolling-text:hover .letter,
.rolling-text.play .letter {
  transform: translateY(-100%);
}

.rolling-text .block:last-child {
  color: #fff;
}

.rolling-text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.015s;
}

.letter:nth-child(3) {
  transition-delay: 0.03s;
}

.letter:nth-child(4) {
  transition-delay: 0.045s;
}

.letter:nth-child(5) {
  transition-delay: 0.06s;
}

.letter:nth-child(6) {
  transition-delay: 0.075s;
}

.letter:nth-child(7) {
  transition-delay: 0.09s;
}

.letter:nth-child(8) {
  transition-delay: 0.105s;
}

.letter:nth-child(9) {
  transition-delay: 0.12s;
}

.letter:nth-child(10) {
  transition-delay: 0.125s;
}

.letter:nth-child(11) {
  transition-delay: 0.129s;
}

.letter:nth-child(11) {
  transition-delay: 0.136s;
}
#page2{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family:nike;
    background-color: #181818;
    color: #ffffffa2;
}


#page2 img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

#page2 video {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

#page2 p {
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
}

#page2 section {
    width: 100%;
    height: 100vh;
}

#page2 section.about,
#page2 section.services {
    padding: 4em;
}

#page2 section.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 section.footer h1 {
    font-size: 10vw;
    text-transform: uppercase;
}

#page2 section.marquees {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page2 .marquee-container {
    position: relative;
    width: 120%;
    height: 20vh!important;
    display: flex;
    align-items: center!important;
    margin-bottom: 2em;
    /* overflow: hidden; */
}
#page2 .item{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#page2 .marquee {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 1em;
}

#page2 #marquee-1 .marquee,
#page2 #marquue-3 .marquee {
    left: -15%;
}

#page2 .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 .item.with-text {
    flex: 1.4;
}

#page2 .item h1 {
    text-transform: uppercase;
    font-size: 105px;
}


#page3{
    width: 100%;
    height: 110vh;
    display: flex;
    background-color: rgb(0, 170, 255);
}
#page4{
  width: 100%;
  height: 100vh;
  background-color: red;
}
#page4 canvas{
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,0%);
  height: 100vh;
  width: 100%;
}

#page6{
  padding: 1px;
  width: 100%;
  height: 100vh;
  height: fit-content;
  background-color: black;
}
footer {
  background-color: #111;
  padding: 20px;
  height: 81vh;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #333;
}

.footer-container > div {
  flex: 1;
  margin: 0 20px;
}

.footer-container h3 {
  margin-bottom: 10px;
  font-size: 1.3vw;
  cursor: pointer;
}

.footer-container p {
  margin-bottom: 20px;
  cursor: pointer;
}
.social-media .social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a img {
  width: 30px;
  height: 30px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-links .column {
  flex: 1;
  margin: 0 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
  font-size: 1.5vw;
  cursor: pointer;
}

.footer-links a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}
.footer-logo{
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-end;
  gap: 1.5vw;
  margin-top: 3vw;
  border-top: 0.1px solid #333;
  /* margin-top: -5vw; */
}
.footer-logo p{
  font-size: 0.8vw;
}
.footer-logo svg{
  height: 2vh;
  fill:#fff;
  /* margin-bottom: -21vw; */
  margin-top: 7vw;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.macos-dock {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  padding: 10px;
  height: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer .items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0 8px;
}

footer .item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.02);
  background: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 0;
  position: relative;
}
footer .item img{
  height: 4vh;
}
footer .item::before {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  top: -28px;
  font-size: 10px;
  border-radius: 4px;
  color: #e0e0e0;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: #282828;
  padding: 3px 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-out opacity;
}

footer .item:hover::before {
  opacity: 1;
}

footer .item > svg {
  width: 50%;
  color: #f0f0f0;
}

  