*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: "por3";
    src: url("../static/fonts/porsche-next-w-la-bold.min.6b20b9525a53943efc0131a2def13eab.ttf");
}
@font-face {
    font-family: "por1";
    src: url("../static/fonts/porsche-next-w-la-regular.min.b8f1c203bd2ac5334247025236ba8d86.ttf");
}
@font-face {
    font-family: "por2";
    src: url("../static/fonts/porsche-next-w-la-semi-bold.min.b5f6fca7225aa73578f65320bcf79b45\ \(1\).ttf");
}
#main{
    position: relative;
}
#animation{
    width: 100%;
    height: 100vh;
    z-index: 999999999999999!important;
    position: relative;
    
    /* background-color:black; */
}
#animation #hero {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;

    justify-content: space-between;
    left: 0;
    top: 0;
}
#animation #infoone{
    width:50vh ;
    height: 100vh;
    background-color:black;
    color: #fff;
    padding-left: 2%;
    padding-right:3%;
    padding-top: 5%;
    text-align: right;
    position: absolute;
    left: 0%!important;
    transform: translateX(-100%);
    top: 0%!important;
}
#animation #infoone h1{
    font-size: 5vh;
    font-family: por3;
}
#animation #infoone #text1{
    padding: 2%;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infoone #text2{
    padding: 2%;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infoone h2{
    font-size: 4vh;
    font-family: por3;
}
#animation #infoone h3{
    font-size: 2.3vh;
    color: rgb(170, 170, 170);
    white-space: nowrap;
    font-family: por1;
}
#animation #infoone h3 span{
    font-size: 2.5vh;
    margin-left: 2%;
    color: white;
}
#logos{
    display: flex;
    gap: 4%;
    margin-top: 5%;
}
#logos #part{
    display: flex;
    align-items: baseline;
    color: white;
    gap: 1.2vh;
}
#logos #part img{
    height: 5vh;
    width: 5vh;
    object-fit: cover;
    object-position: center;
}
#logos #part h3{
    font-size: 1.5vh;
    color: white;
}


#animation #infotwo{
    width:60vh ;
    height: 100vh;
    background-color:black;
    color: #fff;
    transform: translateX(100%);
    padding-left: 2%;
    padding-right:3%;
    position: absolute;
    right: 0!important;
    top: 0!important;
    padding-top: 5%;
}
#animation #infotwo h1{
    font-size: 5vh;
    font-family: por3;
}
#animation #infotwo #text1{
    padding: 2%;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infotwo #text2{
    padding: 2%;
    /* width: fit-content; */
    border-bottom: 2px solid #888888;
}
#animation #infotwo h2{
    font-size: 4vh;
    font-family: por3;
}
#animation #infotwo h3{
    font-size: 2.3vh;
    color: rgb(170, 170, 170);
    white-space: nowrap;
    font-family: por1;
}
#animation #infotwo h3 span{
    font-size: 2.5vh;
    margin-left: 2%;
    color: white;
}

#animation #infothree{
    width:60vh ;
    height: 100vh;
    background-color:black;
    color: #fff;
    padding-left: 2%;
    padding-right:3%;
    transform: translateX(-100%);
    padding-top: 5%;
}
#animation #infothree h1{
    font-size: 5.2vh;
    font-family: por3;
}

#animation #infothree #text1{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infothree #text{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infothree #image{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2%;
    gap: 3%;
}
#animation #infothree #image img{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    object-position: center;
}
#animation #infothree p{
    font-size: 2vh;
    font-family: por2;
}

#animation #infofour{
    width:60vh ;
    height: 100vh;
    background-color:black;
    color: #fff;
    padding-left: 2%;
    transform: translateX(100%);
    padding-right:3%;
    padding-top: 5%;
}
#animation #infofour video{
    width: 90%;
    height: 22vh;
    object-fit: cover;
    object-position: center;
}
#animation #infofour h1{
    font-size: 5.2vh;
    font-family: por3;
}

#animation #infofour #text1{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infofour #text{
    border-bottom: 2px solid #888;
    padding: 2%;
}
#animation #infofour #image{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2%;
    gap: 3%;
}
#animation #infofour #image img{
    height: 12vh;
    width: 12vh;
    object-fit: cover;
    object-position: center;
}
#animation #infofour p{
    font-size: 2vh;
    font-family: por2;
}
.webgl
{
   width: 100%;
   height: 100vh;
   overflow: hidden;
}
.point
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    /* pointer-events: none; */
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    z-index: 999999;
    height: 40px;
    border-radius: 50%;
    background: #82828275;
    color: #ffffff;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    cursor: pointer;
    transform: scale(0, 0);
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.point .label #child{
    width: 70%;
    height: 70%;
    background-color: #ffffffd5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5vh;
    font-family: por3;
    font-weight: 600;
}
.point .label:hover #child i{
    transition:all ease 1s;
}
.point .label:hover #child i{
    transform: rotate(132deg)!important;
}
#mainn{
    position: absolute;
    top: 0;
    width: 20vh;
    height: 20vh;
    z-index: 999999999!important;
    background: red;
    left: 0;
}
.point .text
{
    position: absolute;
    /* top: 30px;
    left: -120px; */
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.point:hover .text
{
    opacity: 1;
}

.point.visible .label
{
    transform: scale(1, 1);
}

#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1!important;
    background-color: yellow;
}
#page1 img{
    position: absolute !important;;
    z-index: 999999 !important;
    /* opacity: 1!important; */
}
._canvas_container{
    z-index: 9999999 !important;
}


#page2{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(85, 255, 0);
}